{% load static %}
<!DOCTYPE html>
    <html lang="en">

    <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Fun Website to Encrypt and Decrypt Messages">
    <meta name="author" content="Chika Jinanwa">
 
    <title>Chika's Cipher</title>
        <!-- Bootstrap core CSS -->
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
    
        <link href=" {% static 'css/styles.css' %}" rel="stylesheet">

    </head>

    <body>
    {% block navbar %}
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">Chika's Cipher</a>
                <img class= "img-responsive" id = "nav_bar_logo" alt = "Logo" src = "{% static 'images/nav_bar_logo.png' %}">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li {% block nav_home %}{% endblock %}>
                <a class="nav-link" href="{% url 'index' %}">Home
                </a>
                </li>
                <li {% block nav_about %}{% endblock %}>
                <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li {% block nav_encrypt %}{% endblock %}>
                <a class = "nav-link" href = "{% url 'ciphers' %}">Encrypt/Decrypt</a>
                </li>
                <li {% block nav_guess %}{% endblock %}>
                    <a class = "nav-link dropdown-toggle" id = "navbarDropdown" role = "button" data-toggle = "dropdown" aria-haspopup="true" aria-expanded="true" href = "{% url 'cipher-game' %} "> Guess the Word!
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'cipher-game' %} ">Play Cipher Game</a>
                            <a class="dropdown-item" href="{% url 'instructions' %}">How to Play</a>
                            <a class= "dropdown-item" href = "{% url 'leaderboard' %}">Leaderboard</a>
                        </div>
                </li>
                <li {% block nav_contact %}{% endblock %}>
                <a class="nav-link" href="{% url 'contact-me' %}">Contact</a>
                </li>
                {% if user.is_authenticated %}
                    <li {% block nav_user %}{% endblock %}>
                        <a class ="nav-link" href = "{% url 'user-detail' user.pk %}">User: {{ user.get_username }}</a>
                    </li>
                    <li><a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
                {% else %}
                    <li><a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
                {% endif %} 
            </ul>
            </div>
        </div>
        </nav>
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block AddFooter %}
        <!-- Footer -->
        <footer class="py-5 bg-dark" {% block footer_styles %}{% endblock %}>
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Chika Jinanwa 2020</p>
            {% block footer %}
            {% endblock %}
        </div>
        <!-- /.container -->
        </footer>
    {% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    </body>

    </html>
