{% extends 'base_generic.html' %}

{% block nav_encrypt %}
    class = "nav-item active"
{% endblock %}
{% block content %}
    <form action = "{% url 'ciphers' %}" method = "GET">
        {% csrf_token %}
        <table class = "form-group">
            {{ form.as_table }} 
        </table>
        <input type= "submit" class = "btn btn-primary" value = "Submit">
    </form>
{% endblock %}

{% block footer %}
    {{ block.super }}
    <p class="m-0 text-center text-white" style="font-size:small"> You have visited this page {%if num_visits == 1 %} once {% else %} {{num_visits_encrypt}} times {%endif%}. </p>
{% endblock %}