{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Chika's Cipher</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- MATERIAL DESIGN ICONIC FONT -->
        <link rel="stylesheet" href="{% static 'fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}">

        <!--BOOSTRAP CORE CSS-->
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>

	<body>
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade fade show" role = "alert">
            <p> {{ form.errors }} </p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        {% endif %}

		<div class="wrapper" >
			<div class="inner">
				<div class="image-holder">
					<img src="{% static 'images/encryption_asym.png' %}" alt="">
				</div>
				<form action="{% url 'signup' %}" method = "POST">
                    {% csrf_token %}
					<h3>Signup Form</h3>
					<div class="form-group">
						<input type="text" placeholder="First Name" class="form-control" {{ form.first_name }}
						<input type="text" placeholder="Last Name" class="form-control" {{ form.last_name }}
					</div>
					<div class="form-wrapper">
						<input type="text" placeholder="Username" class="form-control" {{ form.username }} 
						<i class="zmdi zmdi-account"></i>
					</div>
					<div class="form-wrapper">
						<input type="text" placeholder="Email Address" class="form-control" {{ form.email }} 
						<i class="zmdi zmdi-email"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" placeholder="Password" class="form-control" {{ form.password1 }} 
						<i class="zmdi zmdi-lock"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" placeholder="Confirm Password" class="form-control" {{ form.password2 }} 
						<i class="zmdi zmdi-lock"></i>
					</div>
					<button type = "Submit" value = "Signup">Signup
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
				</form>
			</div>
		</div>
		
	</body><!-- This template was made by Colorlib (https://colorlib.com) -->
</html>








